<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Puré Inteligente - ML" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>Puré Inteligente con Machine Learning</h1>

        <nav>
            <a href="{{ url_for('prediccion') }}">Predicción</a>
            <a href="{{ url_for('catalogo') }}">Catálogo</a>
            <a href="{{ url_for('calidad') }}">Control de Calidad</a>

            {% if session.get('logueado') %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}">Admin</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Proyecto final Control de calidad y predicción con ML</p>
    </footer>

</body>
</html>
