{% extends "base.html" %}
{% block content %}
<h2>Predicción de Tiempo de Cocción</h2>

<form method="POST">
    <label>Tipo:</label>
    <select name="tipo_camote" required>
        <option value="0">Yuca</option>
        <option value="1">Camote anaranjado</option>
    </select>

    <label>Humedad (%):</label>
    <input type="number" name="humedad" required>

    <label>Tamaño del lote (kg):</label>
    <input type="number" name="tamano_lote" required>

    <button type="submit">Predecir</button>
</form>

{% if resultado %}
    <h3>Tiempo estimado de cocción: {{ resultado }} minutos</h3>
{% endif %}
{% endblock %}
 